/* src/componenents/ChatApp.css */
.chat-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

/* Show and hide animations */
.chat-container.animation {
  position: fixed;
  bottom: 80px;
  right: 20px;
  overflow: hidden; 
  transition: transform 0.4s ease-in-out;
}
.chat-container.show {
  transform: translateY(0); 
  z-index: 1;
}
.chat-container.hide {
  transform: translateY(100%); 
  z-index: -1;
}

.chat-header {
  background-color: #4a90e2;
  border-radius: 10px 10px 0 0;
}
.chat-header img{
  height: 3rem;
  padding: 5px;
}

/* Full-screen app styling */
@media screen and (min-width: 1024px) {
  .chat-container {
    width: 450px; 
    height: 650px; 
  }
}

/* Mobile view: Adjust the width and height */
@media screen and (max-width: 768px) {
  .chat-container {
    width: 90%;
  }
}
