/* src/components/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(18, 89, 160, 0.9);
    box-shadow:  0 0 40px rgba(18, 89, 160, 1);
    font-family: 'Arial', sans-serif;
  }
  
  .header-title {
    max-height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #f0f0f0;
  }
  
  .header-nav {
    display: flex;
    gap: 20px;
  }
  
  .nav-item {
    text-decoration: none;
    font-size: 1.4rem;
    color: #f0f0f0;
    transition: color 0.3s;
  }
  
  .nav-item:hover {
    font-weight: bold;
  }
  